@import url('https://fonts.cdnfonts.com/css/open-sans');

body{
    width: 100%;
    height: 100%;
    margin: 0!important;
    padding: 0!important;
    /*background-image: linear-gradient(to bottom right, #297eff, #5faef8, #92c8fa, rgb(146, 186, 247));*/
    background-color: rgba(0, 0, 0, 0.877);
    color: black;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0,003em;/*Espacio entre las letras*/
    line-height: 1.6;/*Alinicion de los textos*/    
}

/*HEADER FUNCION DEL MENU*/
header{
    height: 94px;
    background: rgb(24, 22, 22);
    padding:  0 20px;

    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 12px ;
    border-bottom-left-radius: 12px;
}

.logo{
    display: flex;
    align-items: center;
        
}

.logo1{
    width: 55px;
    height: auto;
    margin-right: 10px; 
}

.logo-title{
    text-transform: uppercase;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-weight: 900;
}

.menu a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0,4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0,4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: rgb(166, 243, 243);
} 

.noticias-colum{
    display: flex;
    flex-direction: column;
}

#check{
    display: none;
}

/*SECCION NOTICIAS CARDS*/

.seccion_new {
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 80px;/*El 1 nro es para arriba y abajo. El 2 nro es para los costados*/
    margin-top: -18px;
    margin-block-end: -50px;
}

.title{
    text-align: center;
    font-size: 50px;/*tamaño de fuente*/
    color:white; /*color de la letra*/
    margin-top: 50px;
    font-weight: 600;
    text-decoration: underline;
}

/*Tamaño de las tarjetas noticias*/ 
.seccion_new .card{
    width: 100%;
    height: auto;
    margin: 12px;
    text-align: center;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 3fr max-content;
    grid-template-areas: 'img texto';

}
.seccion_new hr{
    background-color: white;
    width: 100%;
    height: 3px;
    
}

/*Columnas Card*/
.seccion_new .card .col-nw-img{
    grid-area: img;
}
.seccion_new .card .col-nw-texto{
    grid-area: texto;
    
}

/*TAMAÑO Y LUGAR DE LAS IMAGENTES*/
.seccion_new .card img{
    width: 100%;
    height:auto;
}

.seccion_new .card h4{
    font-weight: 600;
    font-size: 25px;
    margin-top: -1.5px;
    margin-bottom: -10px;
}

.seccion_new .card p{
    padding: 0 1rem;
    font-size: 20px;
    font-weight: 300;
}


/*DEPORTES - TARJETAS*/

.seccion_new .card_deportes{
    width: 330px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /*Es para darle sombriado al bloque*/
    overflow: hidden; /*Le da forma a la tarjeta*/
    margin: 20px;
    text-align: center;
    transition: all 0,25s;/*Es para darle movimiento a la tarjeta*/
    position: relative;
    
}

/*CON EL HOVER HACEMOS EL MOVIMIENTO DE LA TARJETA*/
.seccion_new .card_deportes:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*TAMAÑO Y LUGAR DE LAS IMAGENTES*/
.seccion_new .card_deportes img{
    width: 100%;
    height: 100%;
    
}

.seccion_new .card_deportes h3{
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    color: white;
    top: -30px;
    background: rgba(35, 47, 53, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    /*transform: translate(50%, 50%);*/
}
.seccion_new .card_deportes a{
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    color: white;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*transform: translate(50%, 50%);*/
}

.seccion_new .card_deportes a:hover{
    text-decoration: underline;

}



/*INFORMACION DE CADA DEPORTE*/
.info_deportes{
    margin: 30px;
    color: #b8b8b8;
    margin-top: 80px;
    overflow: auto;
}

.info_deportes h2{
    font-size: 30px;
}

.info_deportes hr{
    margin-top: -15px; 
    margin-inline-end: 12px;
    width: 100%;
}

.info_deportes .tabla_dep td,th{
    border: 1px solid white;
}

.info_deportes .tabla_dep a{
    color: white;
    text-decoration: none;
}

.info_deportes .tabla_dep a:hover{
    text-decoration: underline;
    color: #92c0fc;
}

/* SOBRE NOSOTROS */
.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 80px ;

 }
 
 .contenido .card{
    width: 100%;
    height: auto;
    /* margin-top: 8px; */
    color: white;
}

/*TAMAÑO Y LUGAR DE LAS IMAGENTES*/

.contenido .card h4{
    font-weight: 600;
    font-size: 25px;
    margin-top: -1.5px;
    margin-bottom: -10px;
}

.contenido .card p{
    font-size: 20px;
    font-weight: 300;
}

/*CONTACTO - DUDAS O CONSULTAS*/

.formulario{
    width: 80%;
    height: 370px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, #415e7c , #657ec9 , #969696 50%,#386494 );
    text-align: center;
    padding-top: 10px 20px ;
    margin: auto;
    margin-top: 50px;
}

.formulario .fila {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    border-radius: 12px;
    box-sizing: border-box;
}

.formulario input, select{
    width: 100%;
    padding-left: 4px;
    height: 22px;
    border-radius: 30px;
    border: solid white;
    margin: 10px;
    font-size: 16px;
}

.formulario .fila textarea{
    width: 96%;
    padding: 10px;
    height: 200px;
    border-radius: 30px;
    border: solid white;
    margin-top: 10px;
    font-size: 16px;
}

.formulario .boton{
    width: 30%;
    height: auto;
    font-weight: 700;
    text-align: center;
    align-items: center;
    color: #1b4068;
    margin-top: 200px;
    cursor: pointer;
}

.formulario .boton:hover{
    color: #8293c5;
}

/* MENSAJE ENVIADO */

.msj-enviado{
    width: 70%;
    height: 310px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, #415e7c , #657ec9 , #969696 50%,#386494 );
    text-align: center;
    padding-top: 10px 20px ;
    margin: auto;
    margin-top: 50px;
    
}

.msj-enviado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.msj-enviado .msj img{
    width: 160px;
    height: auto;
}

.msj h3{
    color: white;
}
.msj-enviado .boton{
    width: 20%;
    height: auto;
    text-align: center;
    align-items: center;
    color: #1b4068;
    cursor: pointer;
    border-radius: 6px;
}

.msj-enviado .boton:hover{
    color: #8293c5;
}

/*Footer*/

footer{
    height: 70px;
    background: rgb(24, 22, 22);
    padding:  0 20px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 12px ;
    border-top-left-radius: 12px;
    margin-top: 100px;
}

.logo-lb{
    display: flex;
    align-items: center;
}
.logo-lb img{
    width: 60px; 
    height: auto;
}

.logo-lb h4{
    font-size: 16px;
    color: white;

}

.redes img{
    width: 30px;
    height: auto;
    margin-inline: 6px;
}


/*RESPONSIVE*/
@media screen and (max-width: 980px){

    /*HEADER - menu*/

    
    .mostrar-menu,
    .esconder-menu{
        display: block;
        margin-right: 0px;
    }
    
    .menu{
        position: fixed;
        width: 100%;
        height: auto;
        background: rgb(24, 22, 22);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0,4s;
        border-radius: 12px;
    }

    .menu a{
        display: block;
        padding: 15px;
    }

    .esconder-menu{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    #check:checked~.menu{
        right: 0;
    }

    .logo1{
        width: 45px;
        height: auto;
        
    }
    .logo-title{
        font-size: 22px;
    }
    /* NOTICIAS - NEW */
    .seccion_new .card{
        grid-template-areas: 'img'
                             'texto';
    }


    /*TABLA - INFO DEPORTES*/
    .info_deportes{
        /* margin-top: 190px; */
        margin-inline-start: 10px;
    }
    
    .info_deportes .tabla_dep{
        width: 600px;
    }

    .info_deportes .tabla_dep td,th{
        border: 1px solid white;
    }
    /*SOBRE NOSOTROS*/
    .contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 70px ;
    
     }
    
}

@media screen and (max-width: 600px){

    /*HEADER - menu*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
        margin-right: 0px;
    }
    
    /*FUNCIONES*/
    .menu{
        position: fixed;
        width: 100%;
        height: auto;
        background: rgb(24, 22, 22);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 70px 0px;
        z-index: 100;
        transition: 0,4s;
        border-radius: 12px;
    }

    .menu a{
        display: block;
        padding: 15px;
    }

    .esconder-menu{
        position: absolute;
        top: 14px;
        right: 20px;
    }
    
    #check:checked~.menu{
        right: 0;
    }

    .logo1{
        width: 30px;
        height: auto;
    }
    .logo-title{
        font-size: 22px;
    }

    /* NOTICIAS - NEW */
    .title{
        margin-top: 20px;
    }

    .seccion_new {
        padding: 0 30px;    
    }
    .seccion_new hr{
        margin-top: 30px;
    }
    

    
    /*TABLA - INFO DEPORTES*/
    .seccion_new .card_deportes h3{
        font-weight: 400;
        font-size: 26px;
        top:-26px;
    }
    /* .info_deportes{
        margin-top: 170px;
        margin-inline-start: 10px; 
    }*/

    .info_deportes .tabla_dep{
        width: 500px;
    }

    .info_deportes .tabla_dep td,th{
        border: 1px solid white;
    }
    .info_deportes hr{
        display: none;
    }

    /*SOBRE NOSOTROS*/
    .contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 30px ;
    
     }
     /*MENSAJE ENVIADO*/
     .msj-enviado .msj img{
        width: 120px;
        height: auto;
    }

    /* Formulario de contacto */
    .formulario input, select{
        margin: 6px;
        font-size: 12px;
    }
    .formulario .boton{
        font-size: 12px;
    }

 
}